In [1]:
import pandas as pd
import numpy as np

In [7]:
import pandas as pd
import numpy as np

# Generate synthetic data
num_rows = 200
num_cols = 56

# Generate device_id
device_ids = np.arange(num_rows) + 1

# Generate current_op_score
current_op_scores = np.random.randint(0, 101, size=num_rows)

# Generate historic_op_scores
historic_op_scores = np.random.randint(0, 101, size=(num_rows, num_cols - 2))

# Create dataframe
data = np.column_stack((device_ids, current_op_scores, historic_op_scores))
columns = ['device_id', 'current_op_score'] + [f'past_time_{i}' for i in range(1, num_cols - 1)]
df = pd.DataFrame(data, columns=columns)

# Save to CSV
df.to_csv('data.csv', index=False)

In [8]:
df

,device_id,current_op_score,past_time_1,past_time_2,past_time_3,past_time_4,past_time_5,past_time_6,past_time_7,past_time_8,...,past_time_45,past_time_46,past_time_47,past_time_48,past_time_49,past_time_50,past_time_51,past_time_52,past_time_53,past_time_54
0,1,16,5,99,38,88,29,5,61,87,...,72,36,3,27,42,30,19,62,3,86
1,2,91,26,35,85,60,76,96,54,83,...,17,8,46,25,92,76,75,61,98,47
2,3,49,77,40,69,54,25,75,14,46,...,34,5,39,11,94,77,51,26,96,12
3,4,78,17,76,43,80,31,0,70,81,...,48,35,32,40,70,98,79,51,36,81
4,5,73,90,20,93,89,41,25,43,72,...,52,85,41,27,50,48,29,7,88,60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,196,43,54,14,14,1,49,12,19,84,...,81,11,51,27,44,7,77,64,86,52
196,197,69,61,43,47,39,56,16,60,63,...,11,68,62,26,66,72,88,87,7,47
197,198,100,56,33,6,29,48,43,2,76,...,90,6,73,37,25,72,34,45,1,52
198,199,68,4,99,81,95,39,6,46,5,...,72,37,27,63,93,41,77,16,45,9
199,200,56,55,24,36,55,12,51,7,57,...,97,47,27,5,37,27,61,98,74,50